<footer class="flex-none text-center">
  <div
    class="my-2 sm:mx-auto sm:my-5 sm:flex sm:max-w-screen-lg sm:flex-row-reverse sm:items-center sm:justify-between md:my-8"
  >
    <ul class="flex justify-center text-lg sm:mr-6">
      {% for contact in contacts %}
      <li class="mx-3 hover:text-gray-600">
        {% set icon = contact.icon | sourceUrl %}
        <a rel="noopener noreferrer" target="_blank" href="{{ contact.href }}" title="{{ contact.title }}">
          {% svgContents icon %}
        </a>
      </li>
      {% endfor %}
    </ul>
    <span class="text-sm sm:ml-6 sm:text-base">Copyright &copy; 2020</span>
  </div>
</footer>
