<footer class="flex-none text-center">
  <div
    class="
      sm:max-w-screen-lg sm:mx-auto
      my-2
      sm:my-5
      md:my-8
      sm:flex sm:flex-row-reverse sm:items-center sm:justify-between
    "
  >
    <ul class="sm:mr-6 flex justify-center text-lg">
      {% for contact in contacts %}
      <li class="mx-3 hover:text-gray-600">
        <a rel="noopener noreferrer" target="_blank" href="{{ contact.href }}" title="{{ contact.title }}">
          {{ contact.icon | svgContents | safe }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <span class="sm:ml-6 text-sm sm:text-base">Copyright &copy; 2020</span>
  </div>
</footer>
