<header class="mt-4 mb-6 flex-none text-base sm:text-xl md:my-8">
  <nav class="flex justify-between sm:mx-auto sm:max-w-screen-lg">
    <span class="ml-6 font-bold hover:text-gray-600">
      <a href="/">zweimach</a>
    </span>
    <ul class="flex">
      <li key="{item}" class="mr-6 hover:text-gray-600">
        <a href="/about">about</a>
      </li>
      <li key="{item}" class="mr-6 hover:text-gray-600">
        <a href="/blog">blog</a>
      </li>
      <li class="mr-6 hover:text-gray-600">
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/zweimach" title="projects"> projects </a>
      </li>
    </ul>
  </nav>
</header>
