<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "meta.html" %}
    <title>{{ title or meta.title }}</title>

    {% eleventyGoogleFonts
    'https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=Lato:wght@300;400;700&display=swap' %}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
  </head>
  <body class="flex h-full flex-col bg-white text-lg text-gray-800 antialiased md:text-xl">
    {% include "header.html" %}
    <main class="w-full flex-1 sm:mx-auto sm:max-w-screen-lg">{{ content | safe }}</main>
    {% include "footer.html" %}

    <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
  </body>
</html>
