.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 0rem;
}

.nav-item {
  margin: 0;
  padding: 0 1.5rem;
}

.title {
  margin: 0;
  font-weight: bold;
  padding: 0.5rem;
}
