---
layout: empty
eleventyExcludeFromCollections: true
title: zweimach's resume
---

<main class="mx-auto my-6 max-w-(--breakpoint-lg) bg-white p-6">
  <div class="mb-2 flex">
    <div class="flex-1 p-4">
      <h1 class="font-serif text-4xl leading-tight">Ananda Umamil</h1>
      <h2 class="text-2xl leading-tight">Software Engineer</h2>
      <p class="py-4">
        I'm a self-taught software engineer from Indonesia. I have a passion for computer science and programming. I
        love tinkering with text-processing tools like compilers and pretty printers. I'm also an avid functional
        programmer and an occasional open source contributor.
      </p>
    </div>
  </div>
  <div class="mb-8 flex">
    <div class="ml-4 w-40 flex-none border-t-4 border-gray-400 pt-4">Contact</div>
    <div class="flex-1 px-4 pt-5">
      <ul class="flex flex-wrap">
        {% for contact in resume.contacts %}
        <li class="px-5 py-0.5 hover:text-gray-600">
          {% set icon = contact.icon | sourceUrl %}
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="{{ contact.href }}"
            class="flex items-center justify-center"
          >
            {% svgContents icon %}&nbsp;<span>{{ contact.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="mb-8 flex">
    <div class="ml-4 w-40 flex-none border-t-4 border-gray-400 pt-4">Experience</div>
    <div class="flex-1 px-4 pt-5">
      <ul class="">
        {% for work in resume.work %}
        <li class="pb-4">
          <div class="flex justify-between">
            <div class="font-bold">{{ work.company }}</div>
            <div>{{ work.date }}</div>
          </div>
          <div>{{ work.position }}</div>
          <div class="p-2 text-base">
            <ul class="list-inside list-disc">
              {% for item in work.details %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="mb-8 flex">
    <div class="ml-4 w-40 flex-none border-t-4 border-gray-400 pt-4">Education</div>
    <div class="flex-1 px-4 pt-5">
      <ul class="">
        {% for education in resume.education %}
        <li class="pb-4">
          <div class="flex justify-between">
            <div class="font-bold">{{ education.school }}</div>
            <div>{{ education.date }}</div>
          </div>
          <div>{{ education.degree }} | {{ education.major }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="mb-8 flex">
    <div class="ml-4 w-40 flex-none border-t-4 border-gray-400 pt-4">Skills</div>
    <div class="grid flex-1 grid-cols-3 px-4 pt-5 text-lg">
      {% for skillset in resume.skills %}
      <ul class="list-inside list-disc">
        {% for skill in skillset %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</main>
